@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-text-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-text-heading font-display font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
